#wrap {
    width: 1000px;
    margin: 0 auto;
}

h3 {
    font-size: 20px;
}

.slike {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    justify-items: center;
}

.nase_slike {
    width: 250px;
}

body {
    margin: 0;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
}

.tekst {
    margin-top: 40px;
}

@media screen and (max-width: 1000px){
    #wrap{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 20px;
        margin-right: 20px;
        width:auto;
    }
    .tekst{
        margin:auto;
    }
    .slike{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left:20px;
        margin-right: 20px;
        margin:auto;
        width: auto;
    }
    .slike :nth-child(1) { order: 1; }
    .slike :nth-child(4) { order: 2; margin-left: 30px; }
    .slike :nth-child(2) { order: 3; }
    .slike :nth-child(5) { order: 4; margin-left: 50px; }
    .slike :nth-child(3) { order: 5; }
    .slike :nth-child(6) { order: 6; margin-left: 20px; }
    .nase_slike {
        width: 250px;
        margin: 10px;
    }
   
}