#wrap {
    width: 1000px;
    margin: 0 auto;
    justify-content: center;
}

.slike_kafe {
    display: grid;
    grid-template-columns: auto auto auto auto;
    max-width: 800px;
    align-self: center;
    margin: auto;
}

.kafa {
    display: block;
    max-width: 800px;
    max-height: 400px;
    width: auto;
    height: auto;
}

.tekst {
    margin-top: 50px;
    text-align: justify;
}

@media screen and (max-width:1000px) {
    #wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 20px;
        margin-right: 20px;
        width: auto;
    }
    .slike_kafe {
        width: auto;
        height: auto;
        max-width: 600px;
    }
    .kafa {
        height: auto;
    }
    .tekst {
        margin-top: 20px;
    }
}

@media screen and (max-width:800px) {
    .kafa {
        max-height: 200px;
    }
    .slike_kafe {
        max-width: 400px;
    }
}